<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meila.soa.proxy.dal.dao.OmsCustomSecretConfig.OmsCustomSecretConfigEntityMapper" >
  <resultMap id="BaseResultMap" type="com.meila.soa.proxy.dal.entity.OmsCustomSecretConfig.OmsCustomSecretConfigEntity" >
    <id column="cusconfig_id" property="cusconfigId" jdbcType="INTEGER" />
    <result column="custom_code" property="customCode" jdbcType="VARCHAR" />
    <result column="custom_key" property="customKey" jdbcType="VARCHAR" />
    <result column="custom_secret" property="customSecret" jdbcType="VARCHAR" />
    <result column="custom_status" property="customStatus" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="archive" property="archive" jdbcType="BIT" />
    <result column="create_user" property="createUser" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    cusconfig_id, custom_code, custom_key, custom_secret, custom_status, create_time, 
    update_time, archive, create_user
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from oms_custom_secret_config
    where cusconfig_id = #{cusconfigId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from oms_custom_secret_config
    where cusconfig_id = #{cusconfigId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.meila.soa.proxy.dal.entity.OmsCustomSecretConfig.OmsCustomSecretConfigEntity" >
    insert into oms_custom_secret_config (cusconfig_id, custom_code, custom_key, 
      custom_secret, custom_status, create_time, 
      update_time, archive, create_user
      )
    values (#{cusconfigId,jdbcType=INTEGER}, #{customCode,jdbcType=VARCHAR}, #{customKey,jdbcType=VARCHAR}, 
      #{customSecret,jdbcType=VARCHAR}, #{customStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{archive,jdbcType=BIT}, #{createUser,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.meila.soa.proxy.dal.entity.OmsCustomSecretConfig.OmsCustomSecretConfigEntity" >
    insert into oms_custom_secret_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cusconfigId != null" >
        cusconfig_id,
      </if>
      <if test="customCode != null" >
        custom_code,
      </if>
      <if test="customKey != null" >
        custom_key,
      </if>
      <if test="customSecret != null" >
        custom_secret,
      </if>
      <if test="customStatus != null" >
        custom_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="archive != null" >
        archive,
      </if>
      <if test="createUser != null" >
        create_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cusconfigId != null" >
        #{cusconfigId,jdbcType=INTEGER},
      </if>
      <if test="customCode != null" >
        #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="customKey != null" >
        #{customKey,jdbcType=VARCHAR},
      </if>
      <if test="customSecret != null" >
        #{customSecret,jdbcType=VARCHAR},
      </if>
      <if test="customStatus != null" >
        #{customStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archive != null" >
        #{archive,jdbcType=BIT},
      </if>
      <if test="createUser != null" >
        #{createUser,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.meila.soa.proxy.dal.entity.OmsCustomSecretConfig.OmsCustomSecretConfigEntity" >
    update oms_custom_secret_config
    <set >
      <if test="customCode != null" >
        custom_code = #{customCode,jdbcType=VARCHAR},
      </if>
      <if test="customKey != null" >
        custom_key = #{customKey,jdbcType=VARCHAR},
      </if>
      <if test="customSecret != null" >
        custom_secret = #{customSecret,jdbcType=VARCHAR},
      </if>
      <if test="customStatus != null" >
        custom_status = #{customStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="archive != null" >
        archive = #{archive,jdbcType=BIT},
      </if>
      <if test="createUser != null" >
        create_user = #{createUser,jdbcType=INTEGER},
      </if>
    </set>
    where cusconfig_id = #{cusconfigId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.meila.soa.proxy.dal.entity.OmsCustomSecretConfig.OmsCustomSecretConfigEntity" >
    update oms_custom_secret_config
    set custom_code = #{customCode,jdbcType=VARCHAR},
      custom_key = #{customKey,jdbcType=VARCHAR},
      custom_secret = #{customSecret,jdbcType=VARCHAR},
      custom_status = #{customStatus,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      archive = #{archive,jdbcType=BIT},
      create_user = #{createUser,jdbcType=INTEGER}
    where cusconfig_id = #{cusconfigId,jdbcType=INTEGER}
  </update>
  
  <!-- 自定义sql语句开始 -->
  <select id="selectByCustomCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
		<include refid="Base_Column_List" />
		from
		oms_custom_secret_config t where 1=1
		<if test="customCode != null">
			and t.custom_code = #{customCode}
		</if>
	</select>
	
	<!-- 自定义sql语句结束 -->
</mapper>