<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.meila.soa.proxy.dal.dao.ErpRequestLog.ErpRequestLogEntityMapper">
	<resultMap id="BaseResultMap"
		type="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity">
		<id column="erp_req_id" property="erpReqId" jdbcType="BIGINT" />
		<result column="erp_req_type" property="erpReqType" jdbcType="VARCHAR" />
		<result column="erp_req_remark" property="erpReqRemark"
			jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="archive" property="archive" jdbcType="TINYINT" />
	</resultMap>
	<resultMap id="ResultMapWithBLOBs"
		type="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity"
		extends="BaseResultMap">
		<result column="erp_req_detail" property="erpReqDetail"
			jdbcType="LONGVARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		erp_req_id, erp_req_type, erp_req_remark, create_time, update_time, archive
	</sql>
	<sql id="Blob_Column_List">
		erp_req_detail
	</sql>
	<select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		,
		<include refid="Blob_Column_List" />
		from erp_request_log
		where erp_req_id = #{erpReqId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from erp_request_log
		where erp_req_id = #{erpReqId,jdbcType=BIGINT}
	</delete>
	<insert id="insert"
		parameterType="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity">
		<selectKey resultType="java.lang.Long" keyProperty="erpReqId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>

		insert into erp_request_log (erp_req_id, erp_req_type, erp_req_remark,
		create_time, update_time, archive,
		erp_req_detail)
		values (#{erpReqId,jdbcType=BIGINT}, #{erpReqType,jdbcType=VARCHAR},
		#{erpReqRemark,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{archive,jdbcType=TINYINT},
		#{erpReqDetail,jdbcType=LONGVARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity">
		<selectKey resultType="java.lang.Long" keyProperty="erpReqId"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into erp_request_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="erpReqId != null">
				erp_req_id,
			</if>
			<if test="erpReqType != null">
				erp_req_type,
			</if>
			<if test="erpReqRemark != null">
				erp_req_remark,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="archive != null">
				archive,
			</if>
			<if test="erpReqDetail != null">
				erp_req_detail,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="erpReqId != null">
				#{erpReqId,jdbcType=BIGINT},
			</if>
			<if test="erpReqType != null">
				#{erpReqType,jdbcType=VARCHAR},
			</if>
			<if test="erpReqRemark != null">
				#{erpReqRemark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="archive != null">
				#{archive,jdbcType=TINYINT},
			</if>
			<if test="erpReqDetail != null">
				#{erpReqDetail,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity">
		update erp_request_log
		<set>
			<if test="erpReqType != null">
				erp_req_type = #{erpReqType,jdbcType=VARCHAR},
			</if>
			<if test="erpReqRemark != null">
				erp_req_remark = #{erpReqRemark,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="archive != null">
				archive = #{archive,jdbcType=TINYINT},
			</if>
			<if test="erpReqDetail != null">
				erp_req_detail = #{erpReqDetail,jdbcType=LONGVARCHAR},
			</if>
		</set>
		where erp_req_id = #{erpReqId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKeyWithBLOBs"
		parameterType="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity">
		update erp_request_log
		set erp_req_type = #{erpReqType,jdbcType=VARCHAR},
		erp_req_remark = #{erpReqRemark,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		archive = #{archive,jdbcType=TINYINT},
		erp_req_detail = #{erpReqDetail,jdbcType=LONGVARCHAR}
		where erp_req_id = #{erpReqId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.meila.soa.proxy.dal.entity.ErpRequestLog.ErpRequestLogEntity">
		update erp_request_log
		set erp_req_type = #{erpReqType,jdbcType=VARCHAR},
		erp_req_remark = #{erpReqRemark,jdbcType=VARCHAR},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		archive = #{archive,jdbcType=TINYINT}
		where erp_req_id = #{erpReqId,jdbcType=BIGINT}
	</update>
</mapper>