<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd"
	default-autowire="byType">
	
	<context:property-placeholder location="classpath*:config/proxy-config-*.properties"
		order="1" ignore-unresolvable="true" />
    
    <context:component-scan base-package="com.meila.soa.proxy">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		<context:exclude-filter type="annotation" expression="org.springframework.web.bind.annotation.RestController"/>
	</context:component-scan>
<!-- 	<aop:aspectj-autoproxy /> -->
	
	<bean id="erpRequestImpl" class="com.meila.soa.proxy.service.impl.erp.ErpRequestImpl"/>
	
	<bean id="serviceMapHolder" class="com.meila.soa.proxy.utils.ServiceMapHolder" lazy-init="false">
		<property name="configLocation" value="classpath:config/proxy-config-serviceClassMap.properties" />
	</bean>
	<bean id="applicationContextUtil" class="com.meila.soa.proxy.utils.ApplicationContextUtil" lazy-init="false" />
</beans>